<a href="https://colab.research.google.com/github/hellPaa/Sber_test/blob/main/Sber_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Тестовые задания, Павлова Е.А., на вакансию IT-аудитор.

In [9]:
#первое задание

import re

def convert_special_numbers(text):
  good_numbers = []
  pattern = r'\d{2,4}\\\d{2,5}'
  special_numbers = re.findall(pattern, text)


  for special_number in special_numbers:
      parts = special_number.split('\\')
      good_number = '{:04d}\\{:05d}'.format(int(parts[0]), int(parts[1]))
      good_numbers.append(good_number)


  num_per_line = len(good_numbers) // 2
  lines = ['\n'.join(good_numbers[:num_per_line]), '\n'.join(good_numbers[num_per_line:])]

  return '\n'.join(lines)

input_text = input()
result = convert_special_numbers(input_text)
print(result)

17\234

0017\00234

In [ ]:
#второе задание

def min_dist(n, k, L):
  for i in range(k):
    max_el = max(L)
    for elem in range(len(L)):
      if len(L) > n+k-1:
        break
      if L[elem] == max_el:
        L[elem] = max_el // 2
        l_fin = L[0:elem]
        l_fin.append(L[elem])
        lL = l_fin + L[elem: len(L)]
        L = lL
  return L

n, k = map(int, input().split())
L = list(map(int, input().split()))
print(min_dist(n, k, L))

In [10]:
#третье задание

def max_concatenated_number(strings):
    strings.sort(reverse=True, key=lambda x: x + x)

    max_number = int(''.join(strings))
    return max_number

input_strings = []
while True:
    user_input = input("Введите строку (или нажмите Enter для завершения ввода): ")
    if user_input == "":
        break
    input_strings.append(user_input)

result = max_concatenated_number(input_strings)
print(result)

Введите строку (или нажмите Enter для завершения ввода): 11
Введите строку (или нажмите Enter для завершения ввода): 234
Введите строку (или нажмите Enter для завершения ввода): 005
Введите строку (или нажмите Enter для завершения ввода): 89
Введите строку (или нажмите Enter для завершения ввода):
8923411005

sql

1) SELECT current_date + INTERVAL (number * 7 + RAND() * 2) DAY AS check_date
FROM (SELECT 0 AS number UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) AS t
WHERE current_date <= current_date + INTERVAL number * 7 DAY
LIMIT 100;


2) SELECT employee.id, employee.name, COUNT() AS sales_c, RANK() OVER (ORDER BY COUNT() DESC) AS sales_rank_c, SUM(sales.price) AS sales_s, RANK() OVER (ORDER BY SUM(sales.price) DESC) AS sales_rank_s
FROM employee JOIN sales ON employee.id = sales.employee_id GROUP BY employee.id;


3) WITH account_balances AS (
    SELECT  
        from,
        SUM(amount) balance
    FROM transfers
    GROUP BY from
),
account_changes AS (
    SELECT
        ab.from,
        ab.balance,
        t.tdate,
        LEAD(ab.balance) OVER (PARTITION BY ab.from ORDER BY t.tdate) new_balance
    FROM account_balances ab
    JOIN transfers t ON ab.from = t.from
)
SELECT
    ac.from acc,
    ac.tdate dt_from,
    coalesce(lc.tdate, '2030-01-01') dt_to,
    ac.balance balance
FROM account_changes ac
LEFT JOIN account_changes lc ON ac.from = lc.from AND ac.new_balance = lc.